.modal {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.4);
}

.hideModal {
  display: none;
}
.titleHeading {
  text-transform: uppercase;
  color: #F65261;
  font-size: 1.1rem;
  margin: 30px 0 10px;
  align-self: flex-start;
}
.movieId {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.heading{
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.3rem;
  margin-bottom: 2.5rem;
}


.modalContent {
  position: relative;
  background-color: #232323;
  margin: auto;
  border: 1px solid #232323;
  width: 43%;
  min-height: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.addContent {
  text-align: center;
}
.button {
  height: 3.5rem;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  color: white;
  background: #F65261;
  border-radius: 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  align-self: flex-end;
}
.button2 {
  height: 3.5rem;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  color: #F65261;
  border: 1px solid #F65261;
  background: inherit;
  border-radius: 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  align-self: flex-start;
  margin-right: 1rem;
}
.row {
  display: flex;
  flex-direction: column;
}
.addRow {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.checkIcon {
  margin: 0 auto 2rem ;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F65261;
  padding: .3rem;
  border-radius: 50%;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}

.close {
  color: white;
  float: right;
  font-size: 3.3rem;
  font-weight: 300;
  margin: 10px 20px 0 0;
  cursor: pointer;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}


.modalBody {padding: 4rem }
.message {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.addMessage {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@media screen and (max-width: 1000px) {
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 1rem;
  }
}

