@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.selectDropDown{
  display: flex;
  justify-content: space-between;
  position: relative;

  .selected{
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    background: rgba(50, 50, 50, 0.5);
    color: white;
    font-size: 1.4rem;
    padding: 1.3rem;
    margin:  15px 0;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .optionsDropDown{
    display:block;
    position: absolute;
    box-sizing: border-box;
    margin: 0 auto;
    left:0;
    width:100%;
    top: 85%;
    color: white;
    background: #232323 ;
    border: 0.5px solid black;
    list-style: none;
    font-size: 1.2rem;
    border-radius: 3px;
    padding:5px 0;
  }

  .heading {
    text-transform: uppercase;
    color: #F65261;
    font-size: 1.1rem;
    margin: 10px 0;
    align-self: flex-start;
  }

  #arrowUp {
    font-size: 3rem;
    color: #F65261;
    position: absolute;
    top: 27%;
    right: 3%;
    cursor: pointer;
    transform: rotate(180deg)
  }
  #arrowDown {
    font-size: 3rem;
    color: #F65261;
    position: absolute;
    top: 27%;
    right: 3%;
    cursor: pointer;
  }

  .cmultiselectdropdown__option{
    display:flex;
    align-items: center;
    padding:6px 10px;
    cursor:pointer;

    &:hover{
      background-color: #F65261;
    }

  }
  .checkbox{
    margin-right:6px;
  }
}
