#moreButton {
  font-size: 2.2rem;
  color: white
}

.movie_card {
  height: 45rem;
  width: 100%;
}

.image {
  height: 38rem;
  width: 100%;
  object-fit: fill;
  position: relative;
}

.movie_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.movie_title {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-overflow: ellipsis;
}

.buttonHover {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  right: 5%;
  height: 3rem;
  width: 3rem;
  display: none;
  background: #424242;
  border: 1px solid inherit;
  border-radius: 50%;
  transition: 0.5s all ease;
}

.relative_block {
  position: relative;
  height: 40rem;

  &:hover .buttonHover {
    display: block;
  }
}

.movie_date {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.movie_genre {
  font-size: 0.9rem;
  color: #cbcbcb
}


