.content {
  width: 80%;
  margin: 0 auto;
}
.flex_group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8rem;
  grid-row-gap: 5rem;
}
.sort {
  margin:  1.2rem 0 ;
}
.sorting_row {
  display: flex;
  justify-content: space-between;
}
