.errorbg {
  background: #232323;
  height: 100vh;

}
.errorImage {
  height: 20rem;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  position: absolute;
  bottom: 10%;
  left: 40%;
  height: 3.5rem;
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  color: #F65261;
  border: 1px solid #F65261;
  background: inherit;
  border-radius: 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  align-self: flex-start;
  margin-right: 1rem;
}
